config VIDEO_MEDIATEK_SOURCE_CAPTURE
	tristate "Mediatek Source Capture device"
	select V4L2_MEM2MEM_DEV
	select VIDEOBUF2_DMA_CONTIG
	default n
	help
	  To enable support for mediatek Source Capture device drivers.
