CONFIG_ARM_MTKTV_CPUFREQ=m
CONFIG_ARM_MTKTV_CPUFREQ_CA=m
CONFIG_ARM_MTKTV_CPUFREQ_DBG=m
CONFIG_COMMON_CLK_MEDIATEK_DBG=m
CONFIG_CPU_FREQ_GOV_ONDEMAND=m
CONFIG_HWSPINLOCK_MT5896=m
CONFIG_IPACK_BUS=m
CONFIG_IR_MTK_PMU=m
CONFIG_IRS_MTK=m
CONFIG_IRTX_MTK=m
CONFIG_MIC_MUTE_MTK=m
CONFIG_KEYPAD_MT5896=m
CONFIG_KEYPAD_MTK_PMU=m
CONFIG_LCD_CLASS_DEVICE=m
CONFIG_MEDIA_ANALOG_TV_SUPPORT=y
CONFIG_MEDIA_DIGITAL_TV_SUPPORT=y
CONFIG_DVB_CORE=m
CONFIG_DVB_PLATFORM_DRIVERS=y
CONFIG_DVB_MMAP=y
CONFIG_DVB_DYNAMIC_MINORS=y
CONFIG_DVB_CA_EN50221_REDUCE_RESET_TIME=y
CONFIG_DVB_CA_EN50221_SLOT_INFO_CHECK_STATUS=y
CONFIG_DVB_LGDT330X=n
CONFIG_MEDIA_CONTROLLER_DVB=y
CONFIG_ETHERNET=y
CONFIG_NET_VENDOR_MEDIATEK=y
CONFIG_MEDIATEK_DVB_ADAPTER=m
CONFIG_MEDIATEK_DVB_CI=m
CONFIG_MEDIATEK_DVB_DEMUX2=m
CONFIG_MEDIATEK_DVB_SC=m
CONFIG_MSTAR_UTIL=m
CONFIG_MT5896_SARADC=m
CONFIG_MT5896_WATCHDOG=m
CONFIG_MTKTV_CPU_THERMAL=m
CONFIG_MTKZRAM_KO=m
CONFIG_MTKZSMALLOC_KO=m
# CONFIG_MTK_MZCCMDQ_HW=y
CONFIG_MTK_ZDEC=m
CONFIG_MTKZDEC_KO=m
CONFIG_MTK_ACP_MODE=y
CONFIG_MTK_BW_DBG=m
CONFIG_MTK_IOMMU_DTV=m
CONFIG_MTK_MIUP=m
CONFIG_MTK_MIUP_DBG=m
CONFIG_MTK_PM=m
# CONFIG_MTK_BOOTTIME=m
CONFIG_MTK_PMU_RPROC=m
CONFIG_MTK_PQU_RPROC=m
CONFIG_MTK_PQU_RPROC=m
CONFIG_MTK_REALTIME_FRAMEWORK=m
CONFIG_MTK_SMI_TV=m
CONFIG_MTK_TV_IR_DYNAMIC_CONFIG=m
CONFIG_MTK_TV_IR_IN=m
CONFIG_MTK_CMDQ=m
CONFIG_MTK_CMDQ_MBOX=m
# CONFIG_MTK_CMDQ_MBOX_EXT=m
CONFIG_NET_MEDIATEK_MT5896=m
CONFIG_OPTEE=m
CONFIG_OPTEE_SHM_NUM_PRIV_PAGES=3
CONFIG_PHY_MTK_TPHY=m
CONFIG_PWM_MT5896=m
CONFIG_PWM_MTK_PMU=m
CONFIG_REGULATOR_MT5896=m
CONFIG_REGULATOR_MT5876=m
CONFIG_RTC_DRV_MT5896=m
CONFIG_SAMPLES=y
CONFIG_SAMPLE_MTK_RPMSG_TEST=m
CONFIG_SAMPLE_RPMSG_CLIENT=m
CONFIG_SND_DRIVERS=y
CONFIG_SND_ALOOP=m
CONFIG_SND_MT5896=m
CONFIG_SND_SOC_MEDIATEK_DTV=m
CONFIG_SPI_MT5896=m
CONFIG_TEE=m
CONFIG_TEST_POWER=m
CONFIG_USB_MTU3=m
CONFIG_USB_MU3_PHY=m
CONFIG_USB_MTK_DTV_XHCI=y
CONFIG_USB_XHCI_MTK=m
CONFIG_VIDEO_MEDIATEK_CEC=m
CONFIG_VIDEO_MEDIATEK_PMU_CEC=m
CONFIG_VIDEO_MEDIATEK_JPD=m
CONFIG_I2C_MT5896=m
CONFIG_MTK_MEMORY=m
CONFIG_SPI_MTK_RPMSGDTV=m
CONFIG_MMC_MTK_FCIE=m
CONFIG_COMMON_CLK_MEDIATEK_TV=m
CONFIG_COMMON_CLK_MT5896=m
CONFIG_MT58XX_IRQ=m
CONFIG_SERIAL_8250_MTK_TV=m
CONFIG_PINCTRL_MT5896=m
CONFIG_PINCTRL_MT5896_NARCOS=m
CONFIG_GPIO_MT5896=m
CONFIG_BACKLIGHT_PWM=m
CONFIG_I2C_CHARDEV=m
CONFIG_I2C_GPIO=m
CONFIG_SPI_SPIDEV=m
CONFIG_GATOR=n
CONFIG_PCIE_MS_MTK=m
CONFIG_MTK_TV_ATRACE=m
CONFIG_BT_BNEP=m
CONFIG_BT_BNEP_MC_FILTER=y
CONFIG_BT_BNEP_PROTO_FILTER=y
CONFIG_V4L_TEST_DRIVERS=y
CONFIG_VIDEO_VIM2M=m
CONFIG_V4L_MEM2MEM_DRIVERS=y
CONFIG_LEDS_MEDIATEK_IRTX=m
CONFIG_LEDS_GPIO=m
CONFIG_LEDS_BREATH=m
CONFIG_ION_CMA_HEAP=m
CONFIG_RPMSG_VIRTIO=m
CONFIG_EXTCON=m
CONFIG_EXTCON_MTK_HEADSET=m
CONFIG_MTK_BDMA=m
CONFIG_MT5896_MBOX=m
CONFIG_MT5896_MBOX_MEXICO=m
CONFIG_PM_DEBUG=y
CONFIG_PWM_ADC_MT5896=m
CONFIG_SUPPORT_DV=y
CONFIG_MSTAR_XC_HDR_5_0_0_0=y
CONFIG_MTD_SPI_NOR=y
CONFIG_SPI_SERFLASH_MT5896=m
CONFIG_MTD=y
CONFIG_IIO=y
CONFIG_PM_DEVFREQ=y
